body{
	/*background-color: #8A9EA1;*/
	background-image: url("bg.png");
	margin-left: 0px;
	margin-top: 0px;
	text-align: justify;
	font-family: 'Lato', sans-serif;
}

header{
	position: sticky;
	width: 100%;
	background-color: #5D5F60;
	top: 0;
	left: 0;
	font-size: 18pt;
}

h1{
	font-family: 'Oswald', sans-serif;
}

#navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-shadow: 0 1px 8px black;
}

.navli{
	float: left;
}

.nava{
	display: block;
	background-color: #5D5F60;
	text-decoration: none;
	padding:10px;
}

.button{
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: #5D5F60;
	padding: 20px 50px;
	border: 3px solid #8A9EA1;
	border-radius: 10px;
}

.nava:hover{
	background-color: #ECE9E0;
}

main{
	padding:3px;
	margin-top: 5%;
	margin-right: 15%;
	margin-left: 15%;
	border: 1px solid;
	border-radius:5px;
	box-shadow:0 0 4px black;
	background-color: rgba(138, 158, 161, 0.95);
}

.button:hover{
	background-color: #ECE9E0;
	color:black;
	animation: pulsate 1s ease-in-out;
}

@keyframes pulsate{
	0%{
		box-shadow: 
		0 0 25px #8A9EA1,
		0 0 50px #5D5F60;
	}
}